/*Global Fonts*/
h1
{
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    margin-bottom: 0px;
}

h2
{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 0px;
}

p 
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin: 0px;
}

/*Global Styles*/
body
{
    background-color: #fff;
    margin: 0px;
}

ul
{
    margin: 0px;
}

li
{
    float: left;
    list-style-type: none;
    margin: 1em;
    margin-top: 0px;
}

a:visited{
    color: black;
}

a:link{
    
    text-decoration: none;
    padding: 0.5em;
    color: black;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
}

a:hover{
    text-decoration: none;
    color: black;
    
}

img
{
    width: 100%;
}

/*ID Styles*/
#cotainer
{
   
}

#scrolltop
{
    width: 100%;
    height: 3em;
    z-index: 4;
    position: fixed;
    background-color: white;
    top: 0px;
}

#header-logo
{
    width: 10em;
    left: 50%;
    top: 0em;
    position: absolute;
    transform: translate(-50%);
}

#header-nav
{
    float: left;
    padding-top: 1em;
}

#header-social
{
    float: right;
    padding-top: 1em;
}

#content-splash
{
    z-index: -5;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#content-head
{
    text-align: center; 
    z-index: 1;
    position: fixed;
    width: 100%;
    padding-top: 3em;
}

#head-title
{
    margin-bottom: 1em;
    width: 50%;
    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#content-float
{
    margin-top: 0em;
    z-index: 2;
    position: relative;
    top: 65em;
}

/*#float-gallery-two img
{
    margin: 5em;
    margin-top: 0em;
    margin-left: 10em;
    width: 70%;
}*/

/*Class Styles*/
.scrolltop {
 display:none;
}

.image-float-left
{
    margin: 0em;
    width: 33.33%;
    float: left;
    position: relative;
}

.image-float-right
{
    margin: 0em;
    width: 33.33%;
    float: right;
    position: relative;
}

.text-float
{
    background-color: #fff;
    padding-bottom: 10em;
    text-align: center;
    width: 100%;
    height: 20em;
}

.text-float-left
{
    width: 33.33%;
    float: left;
    background-color: #fff;
    padding-bottom: 10em;
    padding-top: 10em;
    text-align: center;
}
